{% extends 'index.html'%}
{% block navbar %}
<header>
    <!-- Menu -->
    <div class="menunavegacion">
        <div class="logo">
            <a href="#">
                <img src="../static/assets/images/logobibi.png" alt="Icon of Portfolio" />
            </a>
        </div>

        <!-- Nav bar -->
        <div class="menu">


            <label for="toggle-1" class="toggle-menu">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </label>
            <input type="checkbox" id="toggle-1">

            <nav class="nav-menu">

                <!-- <input type="checkbox" id="touch"> -->
                <!-- <label for="touch" id="label-touch">
                <img src="assets/images/bars-solid.svg" alt="burger Menu">
            </label> -->
                <ul class="slide">
                    <li class="nav-item"><a class="item-menu" href="#">Inicio</a></li>
                    <li class="nav-item"><a class="item-menu" href="#divsobremi">Sobre mi</a></li>
                    <li class="nav-item"><a class="item-menu" href="#divproyectos">Proyectos</a></li>
                    <li class="nav-item"><a class="item-menu" href="#divcontacto">Contacto</a></li>
                    <li class="nav-item">
                        <a href="en.html" class="item-menu">En</a>
                    </li>
                    <li class="nav-item">

                        <button onclick="darkmode()" class="button-dark"> <img id="container-modo-icono"
                                alt="icon theme" src="../static/assets/images/luna.svg" alt="burger Menu"
                                class="container-modo__icono"></button>
                    </li>
                </ul>
            </nav>
        </div>


    </div>
</header>

{% endblock %}