
<section class="divsobremi" id="divsobremi">
    <div class="divtitulosesion">
        <div class="lineader">
            <hr size="3">
        </div>
        <div class="titulosesion">
            <h3 class="textotitulosesion">SOBRE MI</h3>
        </div>

        <div class="lineaizq">
            <hr size=2>
        </div>
    </div>

    <div class="contenidosobremi">
        <div class="divsobremi-texto">
            <p>
                Mi nombre es Bibiana Baldrich, soy estudiante de de Ingeniería en Software en la
                Tecnológico de Antioquia tengo conocimientos en desarrollo web, desarrollo de aplicaciones
                móviles, manejo de bases de datos, diseño de mockups y prototipado de páginas y aplicaciones en
                adobe XD y Figma.

                <br>
                <br>
                Estoy en decimo semestre, he aprendido y se implementar todas las etapas del desarrollo de un
                software desde el análisis de requisitos, diseño de la arquitectura, Diseño de la interfaz
                gráfica, Desarrollo del software hasta las pruebas y la documentación correspondiente.

                <br>
                Soy una apasionada por aprender cosas nuevas.
            </p>
        </div>
        <div class="divsobremi-foto">
            <div class="mifoto"></div>
        </div>
    </div>

</section>
